.footer {
    width: 100%;
    
    background-image: url(../../images/pngegg\ \(2\)\ 2.png);
    background-position: center;
    background-repeat: no-repeat;


		&__container {
		}

		&__top-box {
		}

		&__top-title {
		}

		&__top-text {
		}

		&__top-form {
		}

		&__top-inputs {
		}

		&__bottom-box {
		}

		&__bottom-links {
		}

		&__bottom-title {
		}

		&__bottom-links-icons {
		}

		&__bottom-icons-images {
		}

		&__bottom-nav {
		}

		&__bottom-list {
		}

		&__bottom-lists {
		}

		&__bottom-links-texts {
		}
}
