.hero {
  position: relative;
  padding-top: 150px;
  padding-bottom: 145px;
  background-color: $dark__cyan;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 800px;
    height: 600px;
    bottom: 0;
    right: 0;
    background-image: url("../../images/Group\ 42.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__container {
    padding: 0px 24px;
    @include df-column-center-start;
    
  }
  &__left-box {
    @include df-column-center-start;
  }
  &__title {
    position: relative;
    text-align: start;
    width: 687px;
    text-align: start;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 70px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 40px;
    z-index: 10;
    color: $light__yellow;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 130px;
      height: 130px;
      top: -30px;
      left: -2%;
      transform: rotate(-30deg);
      background-image: url("../../images/fire.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__text {
    width: 474px;
    font-family: "Montserrat";
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: $light__gray;
    margin-bottom: 20px;
  }
  &__cash-box {
    @include df-column-center-start;
    gap: 5px;
    margin-bottom: 40px;
  }
  &__cash-title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $dark__gray;
  }
  &__cash-money-text {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white !important;
  }
  &__button {
    cursor: pointer;
    @include df-row-center-center;
    gap: 16px;
    padding: 10px 15px;
    border: 1px solid $light__yellow;
    border-radius: 15px;
    background-color: $dark__gray;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    color: $light__yellow;
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      opacity: 0.5;
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    position: relative;
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: $dark__cyan;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 300px;
      height: 300px;
      bottom: 0;
      left: 250px;
      right: 0;
      margin: 0 auto;
      background-image: url("../../images/Group\ 42.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__container {
      padding: 0px 24px;
      @include df-column-center-center;
    }
    &__left-box {
      @include df-column-center-center;
    }
    &__title {
      position: relative;
      text-align: center;
      width: 100%;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 40px;
      z-index: 10;
      color: $light__yellow;
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 69px;
        height: 69px;
        top: -15px;
        left: 25%;
        transform: rotate(-30deg);
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__text {
      width: 474px;
      font-family: "Montserrat";
      text-align: start;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 20px;
    }
    &__cash-box {
      @include df-column-center-center;
      gap: 5px;
      margin-bottom: 40px;
    }
    &__cash-title {
      font-family: "Montserrat";

      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $dark__gray;
    }
    &__cash-money-text {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
    }
    &__button {
      @include df-row-center-center;
      padding: 10px 15px;
      border: 1px solid $light__yellow;
      border-radius: 15px;
      background-color: $dark__gray;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
      color: $light__yellow;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.5;
      }
    }
  }
}
@media (max-width: 767px) {
  .hero {
    position: relative;
    padding-top: 60px;
    padding-bottom: 92px;
    background-color: $dark__cyan;
    &::before {
      content: "";
      position: absolute;
      display: none;
      width: 350px;
      height: 400px;
      bottom: 0;
      left: 0px;
      right: 0;
      margin: 0 auto;
      background-image: url("../../images/Group\ 42.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__container {
      padding-right: 24px;
      padding-bottom: 24px;
      @include df-column-center-center;
    }
    &__left-box {
      @include df-column-center-center;
    }
    &__title {
      position: relative;
      text-align: center;
      width: 229px;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 34px;
      color: $light__yellow;
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 69px;
        height: 69px;
        top: -15px;
        left: 12px;
        transform: rotate(-30deg);
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__text {
      width: 100%;
      font-family: "Montserrat";
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 47px;
    }
    &__cash-box {
      @include df-column-center-center;
      gap: 5px;
    }
    &__cash-title {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $dark__gray;
    }
    &__cash-money-text {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: white;
    }
    &__button {
      @include df-row-center-center;
      padding: 10px 15px;
      border: 1px solid $light__yellow;
      border-radius: 15px;
      background-color: $dark__gray;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 12px;
      line-height: 32px;
      letter-spacing: 0%;
      color: $light__yellow;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        opacity: 0.5;
      }
    }
  }
}
