.services {
        padding-top: 180px;
        background-color: $dark__cyan;

		&__container {
            @include df-column-center-center;
            gap: 50px;
		}

		&__top-box {
            margin-right: auto;
             @include df-column-center-start;
             gap: 20px;
		}

		&__title {
        font-family: "Montserrat";
      text-align: start;
      font-weight: 900;
      font-size: 80px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
		}

		&__text {
            width: 722px;
         font-family: "Montserrat";
      text-align: start;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      color: #DCDCDC;
		}

		&__bottom-box {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            gap: 0px;
		}
		&__bottom-boxes {
            width: 344px;
            cursor: pointer;
            padding: 40px 40px 45px 40px;
            background-color: #C5A66D;
            @include df-column-center-start;
		}
        &__bottom-boxes:hover{
            background-color: #f4c551;
        }

		&__bottom-boxes-icon {
            width: 51px;
            height: 51px;
            margin-bottom: 24px;
		}

		&__bottom-boxes-title {
            width: 234px;
            text-align: start;
         font-family: 'Montserrat';
           font-weight: 800;
          font-size: 20px;
          line-height: 21.36px;
          letter-spacing: 0%;
          color: $third__dark__cyan;
             text-align: center;
              margin-bottom: 20px;
		}

		&__bottom-boxes-texts {
            width: 100%;
            text-align: start;
         font-family: 'Montserrat';
         font-weight: 400;
          font-size: 12px;
          line-height: 17.59px;
          color: $black;
             text-align: center;
		}
}

@media(max-width:1024px){
    .services {
        padding-top: 100px;
        background-color: $dark__cyan;

		&__container {
            @include df-column-center-start;
            padding-left: 40px;
            padding-right: 40px;
            gap: 64px;
		}

		&__top-box {
             @include df-column-center-start;
             gap: 20px;
		}

		&__title {
        font-family: "Montserrat";
      text-align: center;
      font-weight: 900;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
		}

		&__text {
           font-family: "Montserrat";
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 0%;
      color: #DCDCDC;
		}

		&__bottom-box {
            width: 100%;
            @include df-column-center-start;
            gap: 32px;
		}
		&__bottom-boxes {
            padding: 40px 40px 85px 40px;
            width: 100%;
            background-color: #C5A66D;
            @include df-column-center-start;
		}
        &__bottom-boxes:active{
            background-color: #f4c551;
        }

		&__bottom-boxes-icon {
            width: 91px;
            height: 91px;
            margin-bottom: 30px;
		}

		&__bottom-boxes-title {
            text-align: start;
         font-family: 'Montserrat';
          font-weight: 800;
          font-size: 28px;
          line-height: 34px;
          letter-spacing: 0%;
          color: $third__dark__cyan;
             text-align: center;
              margin-bottom: 20px;
		}

		&__bottom-boxes-texts {
            width: 100%;
            text-align: start;
         font-family: 'Montserrat';
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0%;
          color: $black;
             text-align: center;
		}
}

}
@media(max-width:767px){
    .services {
        padding-top: 56px;
        background-color: $dark__cyan;

		&__container {
            @include df-column-center-center;
            padding-left: 24px;
            padding-right: 24px;
            gap: 64px;
		}

		&__top-box {
             @include df-column-center-center;
             gap: 20px;
		}

		&__title {
            text-align: center;
          font-family: 'Montserrat';
          font-weight: 900;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $white;
		}

		&__text {
            width: 100%;
            text-align: center;
         font-family: 'Montserrat';
          font-weight: 400;
          font-size: 12px;
          line-height: 28px;
          letter-spacing: 0%;
          color: $second__dark__gray;
		}

		&__bottom-box {
            width: 100%;
            @include df-column-center-center;
            gap: 32px;
		}
      

		&__bottom-boxes {
            padding: 25px 25px 41px 25px;
            width: 100%;
            background-color: #C5A66D;
            @include df-column-center-center;
		}
        &__bottom-boxes:active{
            background-color: #f4c551;
        }

		&__bottom-boxes-icon {
             width: 51px;
            height: 51px;
            margin-bottom: 24px;
		}
		&__bottom-boxes-title {
            width: 210px;
            text-align: center;
         font-family: 'Montserrat';
          font-weight: 800;
          font-size: 20px;
          line-height: 21.36px;
          letter-spacing: 0%;
          color: $third__dark__cyan;
             text-align: center;
              margin-bottom: 23px;
		}

		&__bottom-boxes-texts {
            width: 100%;
            text-align: center;
         font-family: 'Montserrat';
          font-weight: 400;
          font-size: 12px;
          line-height: 17.59px;
          letter-spacing: 0%;
          color: $black;
             text-align: center;
		}
}

}

