$white: #ffffff;
$black: #000000;
$dark__cyan: #383838;
$light__yellow:#f4c551;
$light__gray:#ededed;
$dark__gray:#868686;
$second__dark__cyan:#2e2e2e;
$white__light: #EDEDED;
$third__dark__cyan:#232323;
$second__dark__gray:#DCDCDC;